body {
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

form {
  font-size: 16px;
  padding: 10px 5px 20px 0px;
}

h1 {
  font-size: 28px;
  text-shadow: 1px 1px 2px #3c3c3c;
}

h2 {
  font-size: 15px;
  margin-bottom: 0;
}

ul {
  list-style: none;
  font-size: 15px;
  padding: 0;
  line-height: 18px;
  margin: 0;
}

header img {
  max-width: 110px;
  max-height: 110px;
  border: none;
  display: inline;
  vertical-align: middle;
  padding: 20px 13px 20px 0px;
  border-radius: 0;
}

p {
  text-align: center;
  font-size: 18px;
  padding: 8px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100px;
  max-height: 100px;
  border-radius: 70px;
  padding: 8px 8px;
  border-radius: 0;
}

.weather-app {
  margin: 0 auto;
  max-width: 700px;
}

.inspire {
  text-align: center;
  font-size: 21px;
  text-shadow: 1px 1px 2px #3c3c3c;
  margin: 20px;
}
